{
    "port": 8080,
    "trackIntervalSecs": 1800,
    "notifyWhenNoExpectedVariation": false,
    "defaultExpectedPercentVariation": 10.0,
    "stocks": [
        {
            "ticker": "MGLU3.sa",
            "baseQuote": 20.00
        },
        {
            "ticker": "VVAR3.sa",
            "expectedPercentVariation": 15.0,
            "baseQuote": 15.00
        }
    ],

    "cryptos": [
        {
            "ticker": "BTC",
            "baseQuote": 103000
        }
    ]
}
